<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="locatorExample.HRMSLogin"/>
      <class name="locatorExample.AmazonTest"/>
      <class name="locatorExample.parentchildxpath"/>
      <class name="com.ibm.project.HRMLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
